# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
AGENTS
*.local

# Editor directories and files
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.windsurf


# Turborepo
.turbo

# Electron
out
doeService
testFiles
# Electron-vite temporary config files
electron.vite.config.*.mjs
electron.vite.config.*.js

# Environment variables
.env
.env.local
.env.*.local

# Backend JAR (if you want to exclude it from git)
# jar/*.jar
