
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}


/* 标题 */
.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  background: #f5f5f5;
  border-radius: 4px;
  padding: 10px;
}

.section-title:first-child {
  margin-top: 10px;
}

/* 底部操作栏 */
.bottom-actions {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background: #fff;
  border-top: 1px solid #e8e8e8;
  padding: 16px 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.ant-card {
  box-shadow: none !important;
}

.ant-card-body {
  padding: 10px !important;
}

.ant-btn.ant-btn:hover {
  box-shadow: none !important;
}

.ant-card-head {
  min-height: 35px !important;
  font-size: 14px !important;
  padding: 10px !important;
}
